*
{
    box-sizing: border-box;   
}
body
{
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
}
:root
{
    --color1:#2E266F;
    --color2:#FE043C;
    --color3:#FFFFFF;
    --background_color:#FFF5EC;

    --fontsize1:4.5rem;
    --fontsize2:48px;
    --fontsize3:36px;
    --fontsize4:24px;
}